<header class="sidebar" id="sidebar">
  <figure class="brand">
    {{ $img := site.Params.logo }}
    {{ $filter := images.Process "resize 100x q100 webp" }}
    {{ with resources.Get $img }}
      {{ with . | images.Filter $filter }}
        <img src="{{ .RelPermalink }}" width="{{ .Width }}" height="{{ .Height }}" alt="Logo {{ site.Title }}" class="brand__logo">
      {{ end }}
    {{ end }}
    <figcaption class="brand__title">{{ site.Title }}</figcaption>
  </figure>

  <button class="sidebar__close-btn" data-sidebar="sidebar">
    <span class="sr-only">Close Sidebar Button</span>
    {{ partial "components/icon.html" (dict "name" "x" "width" 24 "height" 24) }}
  </button>

  <nav class="nav">
    <strong class="nav__label">Main Menu</strong>
    {{- range site.Menus.main }}
      <a href="{{ .URL }}" class="nav__item">{{ .Name }}</a>
    {{- end }}
  </nav>

  {{ partial "components/radio-group.html" (dict
      "label" "Themes"
      "name" "theme"
      "checked" "auto"
      "options" (slice
          (dict "value" "auto" "text" "Auto")
          (dict "value" "light" "text" "Light")
          (dict "value" "dark" "text" "Dark")
      )
  ) }}

  {{ partial "components/radio-group.html" (dict
      "label" "Font Size"
      "name" "font-size"
      "checked" "14"
      "options" (slice
          (dict "value" "12" "text" "Small")
          (dict "value" "14" "text" "Default")
          (dict "value" "16" "text" "Large")
          (dict "value" "18" "text" "Extra Large")
      )
  ) }}
</header>