<div class="view-control">
  <button data-sidebar="view-control">
    <span class="sr-only">Toggle View Controls</span>
    ⚙️
  </button>

  <div class="view-control__group-btn" id="view-control">
    <div class="view-control__col view-control__col--start">
      <button class="view-control__btn view-control__btn--is-active" data-view="viewPage">Page</button>
      <button class="view-control__btn" data-view="viewDiscussion">Discussion</button>
    </div>
    <div class="view-control__col view-control__col--end">
      <button class="view-control__btn" data-view="viewHistory">History</button>
      {{/* NANTI DI ISI LINK KE GITHUB, SEMENTARA DUMMY */}}
      <a class="view-control__btn view-control__btn--is-disable" href="">View Source</a>
      <a class="view-control__btn" href="">Edit Page</a>
      {{/* END */}}
      <button class="view-control__btn" data-view="viewSearch">Search</button>
    </div>
  </div>
</div>
