@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
.figure {
  padding: 0.5em;
  background-color: var(--second-bg);
  width: fit-content;
  box-shadow: var(--base-shadow);
  border: 1px solid var(--base-border);

  &__image {
    border: 1px solid var(--base-border);
  }

  &__caption {
    font-size: v.$fs-sm;
    color: var(--third-color);
    margin-block: 0.5em;
  }
}

.infobox {
  padding: 1em;
  background-color: var(--second-bg);
  box-shadow: var(--base-shadow);
  border: 1px solid var(--base-border);
  font-size: v.$fs-sm;
  color: var(--third-color);
  display: grid;
  gap: 1em;
}

.tabpane {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;

  &__input {
    position: absolute;
    opacity: 0;
  }

  &__label {
    position: relative;
    flex-shrink: 1;
    padding: 0.5rem 1rem;
    background-color: var(--second-bg);
    border: solid 1px var(--base-border);
    border-left-width: 1px;
    border-right-width: 1px;
    cursor: pointer;
    z-index: 999;
    margin-left: -1px;
    user-select: none;

    &:first-of-type {
      border-top-left-radius: 0.25em;
      border-left-width: 1px;
      margin-left: 0px;
    }
    &:last-of-type {
      border-top-right-radius: 0.25em;
      border-right-width: 1px;
    }
  }

  &__panel {
    order: 999;
    display: none;
    width: 100%;
    margin-top: -1px;
    padding: 1rem;
    border: solid 1px var(--base-border);
  }
  &__input:checked + &__label {
    background-color: var(--base-bg);
    border-bottom: none;
  }
  &__input:checked + &__label + &__panel {
    display: flow-root;
  }
}

.search {
  &__label {
    @include m.flex-justify(center, center);
    gap: 1em;
    padding: 1em 1.5em;
    border: 1px solid var(--second-border);
    background-color: var(--second-bg);
    border-radius: 0.25em;
  }

  &__input {
    background-color: transparent;
    border: none;
    width: 100%;
    outline: none;
  }
}

.results {
  font-size: 16px;
}