@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;
@use "../abstracts/breakpoints" as b;

.header {
  @include m.flex-justify(space-between, center);
  height: 4em;
  border-bottom: 1px solid var(--base-border);
  box-shadow: var(--base-shadow);
  padding-inline: 1.5em;
  z-index: 100;

  &__title {
    font-size: v.$fs-10xl;
    font-family: v.$font-serif;
  }

  &__control {
    @include m.flex-justify(center, center);
    gap: 1rem;
  }
}

// ========= START SIDEBAR =========
.sidebar {
  @include m.custom-scrollbar(var(--base-border), var(--primary));
  @include m.transition(visibility, transform);
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 15em;
  padding: 1em;
  overflow-y: auto;

  background-color: var(--second-bg);
  border-right: 1px solid var(--base-border);

  transform: translateX(-100%);
  visibility: hidden;

  z-index: 200;

  &__close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
  }

  &.is-active {
    transform: translateX(0%);
    visibility: visible;
  }
}

// BRAND
.brand {
  @include m.flex-justify(center, center);
  gap: 1em;
  flex-direction: column;
  margin-bottom: 1.5rem;

  &__logo {
    border-radius: 50%;
  }

  &__title {
    color: var(--second-color);
    font-family: v.$font-serif;
    font-size: v.$fs-10xl;
    text-shadow: var(--second-text-shadow);
  }
}

// NAVIGATION
.nav {
  display: grid;
  margin-bottom: 1.5em;

  &__label {
    font-size: v.$fs-lg;
    border-bottom: 1px solid var(--base-border);
  }

  &__link {
    color: var(--primary);
    display: flex;
    gap: 0.5rem;
    padding: 0.1em;
    font-size: v.$fs-sm;
  }
}

// ========= END SIDEBAR =========

// ========= START VIEW CONTROLS =========
.view-control {
  @include m.transition(visibility, transform);
  position: fixed;
  right: 0;
  top: 3.9em;
  border: 1px solid var(--base-border);
  transform: translateX(100%);
  visibility: hidden;

  z-index: 200;

  &.is-active {
    transform: translateX(1px);
    visibility: visible;
  }

  &__col {
    display: grid;
    background-color: var(--second-bg);
  }

  &__btn {
    display: flex;
    justify-content: end;
    padding: 0.25em 0.75em;
    color: var(--primary);

    &--is-active {
      color: var(--second-color);
    }
  }
}

.view-content {
  padding: 1em;
  background-color: var(--base-bg);
  max-width: 100%;
  width: 100%;
  overflow-x: hidden;
  word-break: normal;
  overflow-wrap: anywhere;
  hyphens: auto;
  padding: 1em;

  display: none;

  &--is-active {
    display: block;
  }
}

// ========= END VIEW CONTROLS =========
@include b.min(md) {
  body {
    display: grid;
    grid-template-columns: 15em minmax(0, 1fr);
    grid-template-areas:
      "sidebar content"
      "sidebar content"
      "sidebar footer";
  }

  .header {
    display: none;
  }

  .sidebar {
    visibility: visible;
    position: sticky;
    top: 0;
    transform: translateX(0);
    transition: none;
    grid-area: sidebar;
  }

  .main {
    grid-area: content;
  }

  // VIEW CONTROL
  .view-control {
    @include m.flex-justify(space-between, center);
    top: 0;
    transition: none;
    position: relative;
    border: none;
    border-bottom: 1px solid var(--base-border);
    transform: translateX(0);
    visibility: visible;

    &__col {
      @include m.flex-justify(center, center);
    }

    &__btn {
      display: flex;
      justify-content: end;
      padding: 0.5em 1em;
      color: var(--primary);
      border-inline: 1px solid var(--base-border);
      margin-left: -1px;
      margin-bottom: -1px;

      &--is-active {
        color: var(--second-color);
        background-color: var(--base-bg);
      }
    }
  }

  .view-content {
    padding: 2rem;
  }

  .footer {
    grid-area: footer;
  }
}
