<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" data-theme="dark">
<head>
  {{ partial "head/inline-script" . }}
  {{ partial "head/inline-css" . }}
  {{ partial "head/meta" . }}
  {{ partial "head/js" . }}
  {{ partial "head/sass" . }}
</head>
<body>
  {{- partial "header.html" . }}
  {{- partial "sidebar.html" . }}
  <main class="main">
    {{- partial "view-control.html" . }}
    {{- block "main" . }}{{- end }}
    {{- partial "discussion.html" . }}
    {{- partial "history.html" . }}
    {{- partial "search.html" . }}
  </main>
  {{- partial "footer.html" . }}
</body>
</html>
